<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


<!--扫描实现类-->
    <context:component-scan base-package="com.hospital.provide"/>

    <!--提供者名称-->
    <dubbo:application name="hospital_provider"></dubbo:application>

    <!--注册中心-->
   <dubbo:registry address="zookeeper://120.79.32.91:2181" timeout="3000"></dubbo:registry>
    <!--协议-->
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
    <!-- 对外暴露的服务接口 -->

    <!--测试服务 ref为实现类首字母小写-->
    <dubbo:service interface="com.hospital.interfaces.TestHello" ref="testProvide"></dubbo:service>
</beans>