<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.dao.rolerMapper" >
  <resultMap id="BaseResultMap" type="com.hospital.pojo.roler" >
    <constructor >
      <idArg column="roler_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="roler_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    roler_id, roler_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from roler
    where roler_id = #{rolerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roler
    where roler_id = #{rolerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital.pojo.roler" >
    insert into roler (roler_id, roler_name)
    values (#{rolerId,jdbcType=INTEGER}, #{rolerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hospital.pojo.roler" >
    insert into roler
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolerId != null" >
        roler_id,
      </if>
      <if test="rolerName != null" >
        roler_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolerId != null" >
        #{rolerId,jdbcType=INTEGER},
      </if>
      <if test="rolerName != null" >
        #{rolerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital.pojo.roler" >
    update roler
    <set >
      <if test="rolerName != null" >
        roler_name = #{rolerName,jdbcType=VARCHAR},
      </if>
    </set>
    where roler_id = #{rolerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital.pojo.roler" >
    update roler
    set roler_name = #{rolerName,jdbcType=VARCHAR}
    where roler_id = #{rolerId,jdbcType=INTEGER}
  </update>
</mapper>